@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

table, th, td {
  	width: 100%;
	table-layout: fixed;
}

th, td {
	border-left: 1px solid black !important;
	border-right: 1px solid black !important;
}

